:root
  --colorPrimary #33BC9C
  --colorTheme #bbb
  --colorBg #ddd
  --colorActive #eee
  --colorText #444
  --fontSizeL 14px
  --fontSizeM 12px
  --fontSizeS 10px
  --paddingL 10px
  --paddingM 6px
  --paddingS 4px
  --border-radius 4px
  padding 0
  position relative


div, h1, h2
  margin 0
  padding 0
  font-size var(--fontSizeM)
  color var(--colorText)
  line-height 1.2


.box
  margin 0 auto
  width 1000px
  display flex
  border-radius var(--border-radius)


.box__col
  flex 1
  border-right 1px dashed var(--colorTheme)
  padding var(--paddingS) var(--paddingM)
  &:nth-last-child(1)
    border 0

&.active
  background-color var(--colorActive)

h1
  margin-bottom 10px
  padding var(--paddingM)
  height 40px
  display flex
  justify-content center
  align-items center
  font-size var(--fontSizeM)
  border-radius var(--border-radius)
  background-color var(--colorPrimary)
  text-align center
  color #fff
  font-weight bold


.box__card
  margin 10px 0
  font-size var(--fontSizeM)
  background-color var(--colorBg)
  border-radius var(--border-radius)
  overflow hidden

  h2
    border-bottom 1px dashed var(--colorTheme)
    padding var(--paddingS)
    background-color var(--colorTheme)

  &-content
    padding var(--paddingS)


.msg
  text-align right
  padding 0 10px
  font-size var(--fontSizeS)


.btn
  position absolute
  left 0
  top 0
  font-size var(--fontSizeL)
  padding 2px 4px
  border 1px dashed var(--colorTheme)

